body{
	background:#252338;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Lato', sans-serif;
	margin:0px;

}

*{
	 box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
}


[class*="col-"] {
		display:block;
    float: left;
    padding: 15px;
}


a li.fas{
	opacity:0.5;
	color:#333333;
	transition:opacity:0.5s ease-in-out;
}

a{
	color:rgb(252,52,73);
	text-decoration: none;
}


a li.fas:hover{
	opacity:1;
}

footer{
	background:#302d3a;
	padding:1rem 0rem 1rem 0rem;
}


h1{
	/* color:rgba(255,255,255,0.7); */
	padding-top:2rem;
	text-transform: uppercase;
	color:#FFFFFF;

}

h2{
	letter-spacing: 1px;
/* 	color:rgba(255,255,255,0.7); */
	text-transform: uppercase;
	color:#FFFFFF;
}

h3{
	text-transform: uppercase;
	color:rgba(255,255,255,0.7);
	font-size:1rem;
	font-weight:200;
}


p{
/* 	margin:0.5rem 0rem 0.5rem 0rem; */
	color:#b1acb4;
}


iframe{
	border:0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	width:100%;
}

iframe.vid{
	margin-top:2.5rem;
	height:700px;
}

iframe.trailer{
	height:250px;
}

nav{
	background:#ffffff;
	padding:0rem 0px 0rem 0px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	position:fixed;
	z-index:5;
	top:0;
	width:100%;
}






ul{
	padding:0px;
}




nav ul li{
	display:inline-block;
	float:left;
/* 	width:10%; */


	text-align:center;
	font-size:0.85rem;
	text-transform: uppercase;
	text-decoration: none;
	list-style-type: none;

}

nav ul.fl-right{
	margin-top:26px;
	margin-bottom:21px;
}


nav ul.fl-right li{
	display:inline-block;
	float:left;
/* 	width:10%; */

	margin:0rem 0.7rem 0rem 0.7rem;


}


/*
span.fas{
	margin-left:1rem;
}
*/

nav .fl-right input[type=search] {

border:0px;
box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
padding:0.5rem 1rem 0.5rem 1rem;
border-radius:0.25rem;
font-size:14px;
float:left;
font-weight:300;


}

nav .fl-right input[type="search"]::-webkit-input-placeholder {
  color: #d6d6d6;
}




nav ul.fl-right li.fas{
	position:relative;
	margin-top:0.2rem;

	}


	nav ul.fl-right li.fas span.added-items{
	position:absolute;
	padding:0.2rem 0.3rem 0.2rem 0.3rem;
	top:-10px;
	font-size:0.05rem;
	color:white;
	right:-10px;
	border-radius:0.3rem;
	font-family: 'Open Sans', sans-serif;
	background:rgb(252,52,73);


	}



	nav ul.fl-right li.fas span.items{
	position:absolute;
	padding:1rem;
	opacity:1 !important;
	right:0;
	margin-top:10px;
	width:200px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
/*
	left:-4.5rem;
	top:1.5rem;
*/
	color:white;
	border-radius:3px;
	font-family: 'Open Sans', sans-serif;
	background:rgb(252,52,73);


	}

nav ul.fl-right a li{
	color:#625D8A;
	opacity:1;
	transition:all 0.25s ease-in-out;
}


nav ul.fl-right a:hover li{

	opacity:1;
}



#logo{
	font-weight:bold;
	font-size:1.5rem;
	color: rgb(252,52,73);
	text-transform: lowercase;
}

select#genre{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size:1rem;
	width:100%;
	padding:1.2rem;
	border-radius:0px;
	border:none;
	margin:1rem 0rem 1rem 0rem;

}

select#genre:after{
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
    width: 0; 
    color:black;
    background:black;
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;

}


select#genre:focus{
	outline:none;
}


#rate{
	margin-bottom:7;
}


#rate button{
	display:inline-block;

	width:30%;
	border:none;
	color:#FFFFFF;
	background:rgb(252,52,73);
	font-weight:500;

}

#rate select{
	appearance: none;
	display:inline-block;
	-moz-appearance: none;
	-webkit-appearance: none;
	float:left;
		padding:0.5rem 1rem 0.5rem 1rem;
	/* border-radius:5px; */
	display:inline-block;
	text-align: center;
	font-weight:bold;
	font-size:0.8rem;
	border:none;
	border-radius:0;
	width:70%;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	font-weight:500;


}

#rate select:focus{
	outline:none;
}


nav ul.fl-left{
	margin-top:21px;
	margin-bottom:21px;

}


nav ul.fl-left li{
	display:inline-block;
	float:left;
/* 	width:10%; */
		font-size:0.85rem;

	margin:0rem 0.7rem 0rem 0.7rem;


}


nav .fl-left input[type=search] {

border:0px;
box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
padding:0.5rem 1rem 0.5rem 1rem;
border-radius:0.25rem;
font-size:14px;
float:left;
font-weight:300;


}

nav .fl-left input[type="search"]::-webkit-input-placeholder {
  color: #d6d6d6;
}




nav ul.fl-left li.fas{
	position:relative;
	margin-top:0.2rem;

	}


	nav ul.fl-left li.fas span.added-items{
	position:absolute;
	padding:0.2rem 0.3rem 0.2rem 0.3rem;
	top:-10px;
	font-size:0.05rem;
	color:white;
	right:-10px;
	border-radius:0.3rem;
	font-family: 'Open Sans', sans-serif;
	background:rgb(252,52,73);


	}



	nav ul.fl-left li.fas span.items{
	position:absolute;
	padding:1rem;
	opacity:1 !important;
	right:0;
	margin-top:10px;
	width:200px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.5);
/*
	left:-4.5rem;
	top:1.5rem;
*/
	color:white;
	border-radius:3px;
	font-family: 'Open Sans', sans-serif;
	background:rgb(252,52,73);


	}

nav ul.fl-left a li{
	color:#625D8A;
	opacity:1;
	transition:all 0.25s ease-in-out;
}


nav ul.fl-left a:hover li{

	opacity:1;
}



.btn{
	/* width:100%; */
	padding:1.2rem 1.7rem 1.2rem 1.7rem;
	/* border-radius:5px; */
	display:inline-block;
	text-align: center;
	font-weight:bold;
	font-size:0.8rem;
	margin-right:5px;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}


.center{

	text-align:center;
	margin:auto;
}

.btn-small{
	/* width:100%; */
	padding:0.5rem 1rem 0.5rem 1rem;
	/* border-radius:5px; */
	display:inline-block;
	text-align: center;
	font-weight:bold;
	font-size:0.8rem;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.btn-primary{
		background:rgb(252,52,73);
	color: #ffffff;
	opacity:1;
	transition:opacity 0.2s ease-in-out;
}


.btn-primary:hover{
	opacity:0.9;
}


.btn-secondary{
		background:#ffffff;
	color: #625D8A;
}


.btn span.fas{
	margin-right:0.5rem;
}

fieldset{
	border:none;
	padding:0rem;
}

input[type*="text"]{
	padding:1.2rem;
/* 	border-radius:3px; */
	font-size:1rem;
	box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.7);
	width:100%;
	border:none;
	margin:1rem 0rem 1rem 0rem;
}


input:focus{
	border-left: 6px solid rgb(252,52,73);
	outline:none;
}

input[type*="password"]{
	padding:1.2rem;
/* 	border-radius:3px; */
font-size:1rem;
	width:100%;
	border:none;
	margin:1rem 0rem 1rem 0rem;
}


input[type*="password"]:focus{
	border-left: 6px solid rgb(252,52,73);
	outline:none;
}

input[type*="submit"]{
	/* width:100%; */
	padding:1.2rem 1.7rem 1.2rem 1.7rem;
	/* border-radius:5px; */
	display:inline-block;
	text-align: center;
	font-weight:bold;
	font-size:0.8rem;
	margin-right:5px;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.7);
	float:right;
	border:none;
	font-weight:300;

	margin:0.5rem 0rem 0.5rem 0rem;
	background:rgb(252,52,73);
	color: #ffffff;
	opacity:1;
	transition:opacity 0.2s ease-in-out;

}


.save{

	padding:8px 9px 8px 9px;
	border-radius:100px;
	background:#4A4574;
	font-size:0.7rem;
	opacity:0.7;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	transition:all 0.2s ease-in-out;

}



.save:hover, .save:focus{
	background:rgb(252,52,73);
	opacity:1;
	outline:none;
	color:white;
}


button.btn[type*="submit"]{
	border:0px;
	font-weight:500;
	transition:opacity 0.2s linear;

}

button.btn[type*="submit"]:hover{
	opacity:0.8;
	

}

button.btn[type*="submit"]:focus{
	out	line:none;
	

}



form.save-btn{
	display:inline-block;
}


button.save[type*="submit"]{
	display:block;
	margin:0px;
	padding:8px 8px 8px 8px;
	text-align: center;
	border-radius:100px;
	background:#4A4574;
	font-size:0.7rem;
	opacity:0.7;
	border:none;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	transition:all 0.2s ease-in-out;
	color:#b1acb4;
}




button.save[type*="submit"] .fas{
	margin:0px 2px 0px 2px;

}


button.save:hover[type*="submit"]{
	background:rgb(252,52,73);
	opacity:1;
	color:white;

}


label{
	display:inline-block;
	color:#D0CEE3;
	width:100%;

	padding-right:10px;
	font-size:1rem;
	text-transform: capitalize;


}

legend{
	padding-top:3rem;
	display:block;
	color:#FFFFFF;
	font-size:2rem;
	font-weight:bold;
	margin:1rem 0rem 0rem 0rem;
	text-transform: uppercase;

}

.cat{
	margin-bottom:0px;
	color:#FFFFFF;

}

.col-1of12{
	width:8.3%
}

.col-2of12{
	width:16.66%;
}

.col-3of12{
	width:25%;
}

.col-6of12{
	width:50%;
}


.col-9of12{
	width:75%;
}


.col-12of12{
	width:100%;
}









@media (max-width:30em){


	[class*="col-"] {
		display:block;
    float: left;
    padding: 2.5px;
		}

	.col-2of12{
	width:50%;
	}



	div.content > .col-2of12:nth-child(even){
		padding-left:2.5px;
	}

	div.content > .col-2of12:nth-child(odd){
		padding-right:2.5px;
	}

		.col-3of12{
	width:100%;
	}
	.col-6of12{
	width:100%;
	}



	.col-9of12{
	width:100%;
	}

}


@media (min-width:30em){
	[class*="col-"] {
		display:block;
    float: left;
    padding: 5px;
	}
	.col-2of12{
	width:33.3%;
	}
	.col-3of12{
	width:25%;
	}


}


@media (min-width:50em){
	[class*="col-"] {
		display:block;
    float: left;
    padding: 10px;
		}
	.col-2of12{
		width:25%;
	}
	.col-3of12{
	width:25%;
}
}


@media (min-width:75em){
	[class*="col-"] {
		display:block;
    float: left;
    padding: 10px;
		}
	.col-2of12{
		width:16.66%;
	}

	.col-3of12{
	width:25%;
}
}








.container{
	/* position:relative; */
	display:block;
	max-width:75em;
	margin:auto;

}

.small-container{
	position:relative;
	display:block;
	max-width:50em;
	margin:auto;

}


.content{
	animation:content-animate 1s ease-in-out;
}


@keyframes content-animate{
	from{
	opacity:0;
	}
	to{
	opacity:1;
	}

}


.fl-right{
	float:right
}

.fl-left{
	float:left;
}

.functions{
	/* border-top:1px solid #201c34; */
	position:relative;
	padding:0.2rem 0rem 1rem 0rem;
	font-size:0.7rem;

}

/*
.redirect{
	display:none;
	position:absolute;
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	z-index:1;
	opacity:0;
	transition:opacity 0.5s ease-in-out;
}
*/




.banner-container{
	position:relative;
	display:block;
	background:#15131e;
	width:100%;
	overflow:hidden;
	height:650px;

}








.banner-img-container{
	display:inline-block;
	position:relative;
	width:100%;
	height:700px;
	background:black;
	overflow: hidden;
}


.banner-details{
	position:absolute;
	display:inline-block;

	z-index:3;
	width:100%;
/* 	height:10 */
	color:#ffffff;
	text-transform: capitalize;
	bottom:1.5rem;

}

.banner-text{
	position:absolute;
	z-index:2;
	color:#ffffff;
/* 	width:100%; */
	text-transform: uppercase;
	top:1.5rem;



}

.fas{
	margin-right:5px;
}

.banner-details h2{
	font-size:3rem;
	letter-spacing: 1px;
	margin-bottom:0px;
	font-weight:600;
	text-transform: uppercase !important;
}

.banner-details p{
	font-weight:200;
	line-height:1.5;
	color:#FFFFFF;

}

.banner-overlay{
	display:block;
	position:absolute;
	z-index:1;
	background:black;
	opacity:0.2;
	width:100%;
	height:100%;

}

.hidden{
	display:none;
}

.display{
	display:block;
}

.info{

	background:#2E2B45;
	color:#b1acb4;
	padding:1.5rem;
	line-height:1.5;
}

.info h4{
	margin: 0.4rem 0rem 0.4rem 0rem;
	text-transform: uppercase;
	font-size:0.9rem;
	color:#FFFFFF;
}

.info p{
	margin:0px;
}

.nav-space{
	margin-bottom:65px;
}

.notify-msg-container{
	position:absolute;

	visibility: hidden;
	width:100%;
	border-radius:0.25rem;
	z-index:10;
	height:100vh;
	top:0;
	top:50%;
	bottom:50%;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
	opacity:0;
	animation: notify-animate 3s ease-in-out;
}

.notify-text-success{
	display:inline-block;
	z-index: 10;
	border-radius:0.25rem;
	padding:1rem 2rem 1rem 2rem;
	background: rgba(0,194,123,1);
	text-align:center;
	color:#FFFFFF;
	text-transform:capitalize;
	vertical-align: middle;
}


.notify-text-error{
	display:inline-block;
	z-index: 10;
	border-radius:0.25rem;
	padding:1rem 2rem 1rem 2rem;
	background: rgb(252,52,73);
	text-align:center;
	color:#FFFFFF;
	text-transform:capitalize;
	vertical-align: middle;
	
}



@keyframes notify-animate{
	from{
		opacity:1;
		display: block;
		visibility: visible;
	}

	to{
		opacity:0;
		visibility: hidden;
	}

}


.row{
/* 	margin-top:15px; */
/* 	margin-bottom:15px; */
	clear:both;
}

.row::after{
	content: "";
    clear: both;
    display: table;
}


.bkmrk-state{
	background:rgba(0,194,123,1) !important;
	color:white !important;
	opacity:1 !important;
}
.saved-state{
	background:rgb(252,52,73) !important;
	color:white !important;
	opacity:1 !important;
}



.show-container{
	display:block;
	position:relative;
	color:#b1acb4;
	background:#171423;
	width:100%;
	height:220px;
	border-radius:3px;
	overflow:hidden;
	/* box-shadow: 0px 0px 3px rgba(0,0,0,0.5); */
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s linear;
}


.show-container a{
	color:#b1acb4;
}

.show-container:hover, .show-container:focus{
	top:-3px;
}




/*
.show-container:hover > .redirect{
	display:inline-block;
	visibility: visible;
	opacity:1;
}
*/

.show-img-container{
	display:inline-block;
	position:relative;
	width:100%;
	height:200px;
	background:black;
	overflow: hidden;
}




.show-img{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;

	background-size:cover;
	background-position:center center;
}


.show-descript{
	margin:0.8rem 0px 0.5rem 0px;
}

.show-info{
	display:block;
	position:absolute;
	width:100%;
	height:auto;
	padding:0rem 1rem 0rem 1rem;
	bottom:0;
	background:#2E2B45;


}

li.user-act{
	text-transform: none;
	color:#252338 ;
	font-size:0.85rem;

}

nav ul.fl-right a li:hover{
	color:rgb(252,52,73);
	cursor: pointer;
}

.user-dropdown{
	display:none;
	position:absolute;
	background:#FFFFFF;
	top:60px;
	/* right:0; */
	box-shadow:0rem 0rem 0.2rem rgba(0,0,0,0.5);
	border-radius:0.1rem;

	padding:0.5rem 0.5rem 0.5rem 0.5rem;

}

.user-dropdown a{
	display:block;
	width:250px;
	padding:0.5rem 0.5rem 0.5rem 0.5rem;
	text-decoration: none;
	color:#625D8A;
	text-transform: capitalize;
}


.user-dropdown a:hover{
	background:rgba(241,240,255,0.6);
	border-radius:0.1rem;
}



span.show-title{
	display:block;
	font-size:0.9rem;
	text-transform: capitalize;
}


span.show-epi{
	display:block;
	font-size:0.5rem;
	text-transform: capitalize;
	padding-bottom:5px;
	padding-top:5px;
}




span.show-type{
	display:block;
	margin-top:0.1rem;
	font-size:0.7rem;
	font-weight:200;
	opacity:0.6;
}


#error ul{
	margin:0rem;
}
#error ul li{
	color:rgb(252,52,73);
}

#error h4{
	padding-top:2rem;
	color:#FFFFFF;
	text-transform: capitalize;
}


#test-list.col-2of12{
	padding:0.2rem 0.5rem 0.2rem 0.5rem;
	width:100%;

}


/*
	#test-list.col-2of12:nth-child(even){
		padding-right:2.5px;
	}

	#test-list.col-2of12:nth-child(odd){
		padding-left:2.5px;
	}
*/


#test-list > div.show-container{
	height:63px;
	overflow:hidden;

}

#test-list >div.show-container >  div.show-img-container{
	float:left;
	display:inline-block;
	position:relative;
	width:20%;
	height:100px;
	background:black;
	overflow: hidden;

}




#test-list >div.show-container > div.show-info{
	float:left;
	display:inline-block;
	position:relative;
	width:80%;
	height:300px;
	background:#2E2B45;
	overflow: hidden;

}



#test-list >div.show-container > div.show-info > div.show-descript{
	float:left;


}




#test-list >div.show-container > div.show-info > div.functions{
	float:right;
	padding-top:1.1rem;
}




